body {
    margin: 0;
    /*    background-image: url('../img/fundo.jpg')*/
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 100% !important;
}

.conteiner{
    width: 100%;
}

#topo {
    min-width: max-content;
    float: top;
    background-color: #222222;
    color: #ffffff;
    padding: 1.5em;
}

#esquerda {
    float: left;
    position: initial;
    width: 20%;
    min-height: max-content;
    min-width: max-content;
}

/*Informações do lado esquerdo
.conteudoEsquerda {
        se mudar para fluid sai na pagina do template
        position: fixed;
    background-color: #ffffff;
    width: 100%;
    min-height: max-content;
    
}*/


/*.conteudoCentro {
    position: fixed;
    width: 100%;
    background-color: #dddddd;
    padding: 5px;
}*/


