
/*body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0px;
}*/

/*Ajusta tamanho dos compones do primefaces*/
/*.ui-widget, .ui-widget .ui-widget {
    font-size: 95% !important;
}*/

/*Quando hover em item de menu estiliza com esse css*/
.ui-panelmenu-header:hover >a:hover{
    background-color: #0080c1 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border-radius: 1px;
}

/*Quando menu recebe classe active recebe essas cores*/
.ui-state-active>a{
    background-color: #0080c1 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    border-radius: 1px !important;    
}